<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class = "logo"> FindYourFunny</div>
        <nav>
            <ul class="nav-links">
                <li><a href="#" class = "active">Events</a></li>
                <li><a href="community.html">Community</a></li>
                <li><a href="collection.html">My Collection</a></li>
            </ul>
        </nav>
    </header>

    <h2>
        Create Event
    </h2>
    <form id="signupForm" class="form-card">
        <input name="name" placeholder="Name">
        <input name="startTime" placeholder="Start Time">
        <input name="endTime" placeholder="End Time">
        <select name="category">
            <option = "" disabled selected>Category</option>
            <option value="stand_up_show">Stand Up Show</option>
            <option value="improv_show">Improv Show</option>
            <option value="open_mic">Open Mic</option>
        </select>
        <input name="streetAddress" placeholder="Street Address">
        <input name="city" placeholder="City">
        <input name="state" placeholder="State">
        <input name="zipCode" placeholder="Zip Code">
        <button type="submit">Create Account</button>
    </form>
    
</body>
</html>
