<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Your Funny</title>
    <link rel="stylesheet" href="/Frontend/static/style.css">
</head>
<body>
    <header>
        <div class = "logo"> FindYourFunny</div>
        <nav>
            <ul class="nav-links">
                <li><a href="#" class = "active">Events</a></li>
                <li><a href="community.html">Community</a></li>
                <li><a href="collection.html">My Collection</a></li>
                <li><a href="profile.html">Profile</a></li>
            </ul>
        </nav>

    </header>
    <section class="search-hero">
        <h1>Discover the Funny</h1>
        <p>find your funny</p>
        <div class = "search-box">
            <input type= "text" id = "searchInput" placeholder="Search comedians, shows, venues.">
            <button id="searchButton">Search</button>
        </div>
    </section>

    <div class = "container">
        <div class="recommendations">
            <h2>Recommendations</h2>
            <div class="content-grid" id="contenGrid">
            </div>

            <!-- where the listings will be  -->

            <!-- first listing -->
            <div class = "listing-card">
                <div class = "image-container">
                    <img src = "https://cdn.mytheatreland.com/images/show/41536_show_1000x1000_01.jpg" alt = "listing 1">
                </div>

                <div class = "listing-info">
                    <div class = "listing-header">
                        <div class="listing-date">Until May 3, 2026</div>
                        <h2 class = "listing-name">TRU Comedy Play</h2>
                        <p class = "listing-description">Tony Award winner Jesse Tyler Ferguson (Modern Family) stars in this fascinating new one-man play, premiering at House of the Redeemer's Library space this March. Diving into one of the most turbulent periods of celebrated author Truman Capote's life, TRU utilises immersive elements in an intimate, funny and heartfelt exploration of an American icon.</p>
                    </div>
                    <a href= "https://www.newyorkcitytheatre.com/shows/house-of-the-redeemer/tru" class = "ticket-button">Get Tickets</a>
                </div>
            </div>

             <!-- second listing -->
             <div class = "listing-card">
                <div class = "image-container">
                    <img src = "https://newyorkcomedyclub.com/img/imagetest/eggs-5-png-9b400915-eggs-5-png.jpg?1724250035" alt = "listing 2 img">
                </div>

                <div class = "listing-info">
                    <div class = "listing-header">
                        <div class="listing-date">April 29, 2026</div>
                        <h2 class = "listing-name">Good Eggs</h2>
                        <p class = "listing-description">It's time for GOOD EGGS! Time Out NY called it "one of the best weekly shows in the city" and Thrillist said it's "one of the best underground comedy shows in NYC." Presented by Mark Normand, Gary Vider, and Matt Ruby - who often perform in the lineup - it's an unmissable NYC comedy-scene staple and one of the longest-running independently produced comedy shows in town. Past surprise guests include Bill Burr, Jim Gaffigan, Hannibal Burress, Sarah Silverman, Aziz Ansari, and Anthony Jeselnik.</p>
                    </div>
                    <a href= "https://newyorkcomedyclub.com/events/good-eggs-presented-by-mark-normand-gary-vider-matt-ruby-2026-03-23152253" class = "ticket-button">Get Tickets</a>
                </div>
            </div>

            <!-- third listing -->
            <div class = "listing-card">
                <div class = "image-container">
                    <img src = "https://newyorkcomedyclub.com/img/events/Ricky-Velez-NYCC-EV-April-30-2026-Graphics-1072x680-2-5faa1572-main-image.jpg?1772468024" alt = "listing 3 img">
                </div>

                <div class = "listing-info">
                    <div class = "listing-header">
                        <div class="listing-date">April 30, 2026</div>
                        <h2 class = "listing-name">Ricky Velez Stand-Up Comedy</h2>
                        <p class = "listing-description"> Ricky Velez is a New-York based actor and stand-up comedian who was named one of Variety's "Ten Comics to Watch." He currently appears as a correspondent on Comedy Central's THE NIGHTLY SHOW with Larry Wilmore and appeared on the Netflix series, MASTER OF NONE. Ricky was trained at the Frank Sinatra School of the Arts where he received the Special Recognition Diploma in Drama presented to him by Kevin Spacey. As a comic, Ricky was named "New York's Funniest Comedian" by Caroline's Comedy Club and was featured in Comedy Central's and The New York Comedy Festival's Fifth annual "Comics to Watch."</p>
                    </div>
                    <a href= "https://newyorkcomedyclub.com/events/ricky-velez" class = "ticket-button">Get Tickets</a>
                </div>
            </div>

            


    </div>
    
</body>
