<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Your Funny</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class = "logo"> FindYourFunny</div>
        <nav>
            <ul class="nav-links">
                <li><a href="#" class = "active">Events</a></li>
                <li><a href="community.html">Community</a></li>
                <li><a href="collection.html">My Collection</a></li>
            </ul>
        </nav>

    </header>
    <section class="search-hero">
        <h1>Discover the Funny</h1>
        <p>find your funny</p>
        <div class = "search-box">
            <input type= "text" id = "searchInput" placeholder="Search comedians, shows, venues.">
            <button id="searchButton">Search</button>
        </div>
    </section>

    <main class="recommendations">
        <h2>Recommendation</h2>
        <div class="content-grid" id="contenGrid">
        </div>
    </main>
</body>
